@{
    ViewData["Title"] = "Home Page";
}


<body style="background-image: url('../images/home/company.jpg'); background-size:cover">
    <div class="text-center ">
        <h1 class="p-10" style="font-size:50px;"><strong>e</strong>Company</h1>
    </div>
</body>
