@using eCompany.Models.DTOs.Entities
@model TaskEntityDTO

<h1 style="text-align:center" class="p-2">@Model.CompanyName Company</h1>

<div class="row p-2 border m-auto col-8"  >
    <div class="col-md-12">
        <form id="registerForm" class="row" method="post" enctype="multipart/form-data">
            <input asp-for="CompanyId" hidden />
            <input asp-for="EmployeeId" hidden />
            <h3 style="text-align:center">Task Details</h3>
            <div style="color:red;">@Model.ErrorMessage</div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Title" readonly class="form-control" aria-required="true" />
                <label asp-for="Title" style="margin-left:5px;"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="EmployeeName" readonly class="form-control" aria-required="true" />
                <label asp-for="EmployeeName" style="margin-left:5px;"></label>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="DayDuration" readonly type="number" min="1" class="form-control" aria-required="true" />
                <label asp-for="DayDuration" style="margin-left:5px;"></label>
                <span asp-validation-for="DayDuration" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="AssignedDate" readonly type="date" class="form-control" aria-required="true" />
                <label asp-for="AssignedDate" style="margin-left:5px;"></label>
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>            
            <div class="form-floating py-2 col-6">
                <input asp-for="DueDate" readonly type="date" class="form-control" aria-required="true" />
                <label asp-for="DueDate" style="margin-left:5px;"></label>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="FinishedDate"  type="date" class="form-control" aria-required="true" />
                <label asp-for="FinishedDate" style="margin-left:5px;"></label>
                <span asp-validation-for="FinishedDate" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="Status" asp-items="@Model.StatusList" class="form-select" aria-required="true" >
                </select>
                <label asp-for="Status" style="margin-left:5px;"></label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea asp-for="Description" readonly cols="120" rows="5" class="form-control" style="height:auto" aria-required="true" ></textarea>
                <label asp-for="Description" style="margin-left:5px;"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea asp-for="Comment"  cols="120" rows="3" class="form-control" style="height:auto" aria-required="true" ></textarea>
                <label asp-for="Comment" style="margin-left:5px;"></label>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating py-2 col-12" style="text-align:center">
                <a asp-area="Customer" asp-controller="Task" asp-action="Index" type="button" class="btn btn-primary btn-lg btn-block m-2">Discard changes</a>
                <button id="registerSubmit" type="submit" class="w-90 btn btn-success btn-lg btn-block m-2">Submit Task</button>
            </div>
	        </form>
    </div>
</div>

@section Scripts{
    @{
	<partial name="_ValidationScriptsPartial" />
	}
}